.album-detail{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-top-box{
    /* background-color: blueviolet; */
    background-image: url('https://scpic.chinaz.net/files/pic/pic9/202103/hpic3749.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 404px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
}

.album-top-box .top-box-right .album-cover {
    width: 340px;
    height: 340px;
    background-size: cover;
    position: relative;
}

.img-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-cropper .player-img {
    height: 100%;
    width: fit-content;
    /* background-color: aquamarine; */
}

.album-top-box .top-box-left .left-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-left: 50px; */
}

.album-top-box .top-box-left {
    display: flex;
    flex-direction: column;

}

.album-top-box .top-box-left .left-top .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px 4px;
    padding: 5px;
}

.album-top-box .top-box-left .left-top .text a{
    text-decoration: none;
    cursor: pointer;
    color: rgba(56, 55, 55, 0.485);
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;

}

.album-top-box .top-box-left .left-top .text span {
    margin-bottom: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
}


.album-detail .mid-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20px;
    margin: 10px;
    width: 300px;
    border-bottom: 1px solid rgba(159, 171, 166, 0.5);
}

.album-detail .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    /* border: 1px solid black; */
    /* width:  600px; */
    align-items: center;
}

.album-detail .content-container .content-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 50px;
    align-items: center;
}

.album-detail .content-container .content-left .user-profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.album-detail .content-container .content-left span{
    margin-top: 20px;
    font-size: 32px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 200;
}

.album-detail .content-container .songsContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 10px 400px; */
}

.album-detail .content-container .center-box{
    /* width: 800px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: blueviolet; */
    /* align-items: center; */
    /* margin: 10px 400px; */
    padding-right: 20px;
}
