.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-title {
    margin-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
    margin-top: 18px;
}

.top-title h2{
    font-size: 32px;
    font-weight: 100;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    margin-left: 30px;
}

.top-container{
    display: grid;
    /* width: 940px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 20px;
    align-content: space-between;
    justify-content: space-around;
    /* margin: 10px 200px; */
    box-sizing: border-box;
    /* margin-bottom: 30px; */

}

.song-entry-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.song-content{
    height:200px
}

.song-entry{
    margin-bottom: 30px;
}

.top-container a{
    text-decoration:none;
}

.song-entry .song-title{
    color: #333;
    font-family: 'Varela Round', sans-serif;
}

.song-entry .song-text{
    color: #999;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
    font-size: 12px;
}

.audioList-container {
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
}


.audioList-container .menu-song .song-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.audioList-container .menu-song {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}


  .menu-song span{
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: #999;
  }


  .menu-song a{
    color: #333;
    text-decoration: none;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
  }


.song-detail-entry {
    background-color:#f3f3f3e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.song-detail-entry .cover-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
}

.song-detail-entry .song-detail-player{
    margin-top: 20px;
    width: 600px;
    height: 100px;
    /* object-fit: cover; */
}

.song-detail-entry .detail-content h2{
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    color: #333;
    margin: 10px;
}

.song-detail-entry .detail-content h3{
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    color: #999;
    margin-top: 0;


}
