/* body {
    background-color: beige;
} */

.top-box h2 {
   margin-bottom: 8px;
   font-size: 36px;
   font-weight: 100;
   color: #fff;
   font-family: 'Varela Round', sans-serif;
    /* padding-top: 145px; */
    margin: 18px 0;
    text-align: center;
    font-weight: 100;

}

.mainpage-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-box {
    background-color: blue;
    background: url(../../../sc_landing_header_web_featured_artists-8081257b.jpg) 50%/cover no-repeat;
    max-width: 100%;
    /* height: 450px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 90px 0 0;
    box-sizing: border-box;
    box-shadow: inset 0 120px 40px -40px rgb(5 5 5 / 50%);
    top: 0;
    left: 0;
    width: 100%;
    height: 404px;
    /* object-fit: cover; */
}

.top-box .banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 696.67px;

}


.mainpage-container .mid-box .song-trending {
    display: grid;
    width: 940px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    height: auto;
}

.mainpage-container .mid-box .song-trending .song-list-container .song-entry-image {
    width: 136.66px;
    height: 136.66px;
    object-fit: cover;

}

.mid-box {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;

}

.mid-box h2{
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    font-family: 'Varela Round', sans-serif;
    color: #333;
    font-weight: 150;

}



.top-box p{
    font-size: 18px;
    max-width: 530px;
    text-align: center;
    color: #fff;
    margin: 0 0 10px;

}

.explore-bar {
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    height: 46px;
    padding: 13px 23px;
    box-sizing: border-box;
    /* position: relative; */
    margin: 0;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.explore-bar a {
    text-decoration:none;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;


}

.song-content a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
}

.song-content .song-title{
    color: #333;
    font-family: 'Varela Round', sans-serif;
}

.song-content .song-text{
    color: #999;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
    font-size: 12px;
}

.song-content {
    height: 42px;
}

.bottom-box {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 70px;
}

.social-media .phone {
    height: 280px;
    /* width: 480px; */
    /* background-size: contain; */
    margin-top: 60px;

}

.text {
    width: 325px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 45px;
    flex-wrap: nowrap;
    padding: 0 20px;
}

.text h2 {
    font-size: 36px;
    margin-bottom: 17px;
    font-family: 'Varela Round', sans-serif;
    color: #333;
    font-weight: 100;
    width: 325px;
}

.text span {
    font-size: 24px;
    margin-bottom: 17px;
    font-family: 'Varela Round', sans-serif;
    color: #333;
    font-weight: 150;
    width: 325px;
}

.box-mid {
    background-image: url(https://a-v2.sndcdn.com/assets/images/hp_creator_image_featured_artists-798050ae.jpg);
    height: 350px;
    background-size: cover;
    max-width: 100%;

}

.text h3 {
    color: #fff;
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
}

.text p {
    color: #f2f2f2;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
    width: 320px;
    font-size: 18px;
}


.box-mid .text {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 270px;
}

.box-bottom {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 375px;
   border-bottom: 1px solid #ccc;;
}

.bottom-signup h2{
    font-size: 36px;
    font-weight: 100;
    font-family: 'Varela Round', sans-serif;
    color:#333;
}

.bottom-signup h3{
    font-size: 24px;
    font-weight: 100;
    font-family: 'Varela Round', sans-serif;
    color:#333;
    margin-top: 7px;
}

.login-button-two {
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    height: 40px;
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    font-weight: 100;
    font-family: 'Varela Round', sans-serif;

}

.signup-button-two{
    font-size: 18px;
    height: 46px;
    padding: 13px 23px;
    background-color: #f50;
    border:1px solid #e5e5e5;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-weight: 100;
    box-sizing: border-box;
    position: relative;
}

.bottom-loging span{
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;

}

.bottom-loging{
    margin-top: 10px;

}

.foot-box {
    padding: 15px 0;
    color:#999;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}
