/* TODO Add site wide styles */
.centered {
    justify-content: center;
  }

.middled {
    align-items: center;
  }

.new-form-holder, .edit-form-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
