.current-playlist-main-container{
    display: flex;
    flex-direction: column;
    background: #ebe8db;
    /* height:80vh; */
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.current-playlist-main-container .playlist-top-box{
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 70px;
    text-align: center;
    padding-right: 70px;


    border-bottom: 1px rgb(210, 208, 208) solid;
}

.current-playlist-main-container .playlist-top-box h2{
    margin-right: 30px;

}

.playlist-gallery-box{
    display: flex;
    flex-direction: column;
    min-height:90vh;
}

.current-user-playlists {
    width: 800px;
    height: 290px;
    background: red;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    background: #e9d7df;
}

.current-user-playlists .playlist-gallery-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.current-user-playlists .playlist-gallery-left .img-box{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.current-user-playlists .playlist-gallery-left .playlist-content-entry-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.current-user-playlists .playlist-gallery-left .button-group{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.current-user-playlists .playlist-gallery-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    justify-content: flex-start;
    margin: 20px;
    background: #f7f4ed;
    padding: 0 10px;
    height: 230px;
}

.current-user-playlists .playlist-gallery-right::-webkit-scrollbar{
    width: 10px;
    border-radius: .2rem;
    background-color: #ebe8db;
}

.current-user-playlists .playlist-gallery-right::-webkit-scrollbar-thumb{
    border-radius: .2rem;
    background-color: #b36d61;
}

.current-user-playlists .playlist-gallery-right .playlist-song-list{
    display: flex;
    /* width: 100%; */
    height: 20px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #e9d7df;
    letter-spacing: 1px;
}

.current-user-playlists .playlist-gallery-right .playlist-song-list span{
    padding-left: 10px;
}

.audio-player-song-img{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.playlist-audio-player {
    display: flex;
    margin-left:30px;
    align-items: center;
}

.playlist-audio-container {
    position: sticky;
    bottom: 0;
}

.create-playlist-form {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #fff;
    border-radius: 0;
    /* position: absolute; */
    /* margin: 30px; */
    box-sizing: border-box;

    padding: 25px;
}

.create-playlist-form input {
    border-radius: 5px;
    font-size: 18px;
    /* padding: 7px 8px; */
    box-sizing: border-box;
    height: 40px;
    width: 400px;
    text-align: center;
    margin: 3px 0;
    font-family: 'Varela Round', sans-serif;
}

.create-playlist-form button {
    border-radius: 5px;
    font-size: 18px;
    /* padding: 7px 8px; */
    box-sizing: border-box;
    height: 40px;
    width: 400px;
    text-align: center;
    margin: 3px 0;
    font-family: 'Varela Round', sans-serif;
    border: 1px solid #fff;
    font-weight: 100;
    cursor: pointer;

}

.create-playlist-form .form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    bottom: 0;
    height: 220px;
    /* background-color: #f50; */

}

.create-playlist-form ul {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
}

#upload-Playlist-button-click {
    background-color: #f50;
    color: #fff;
}


.playlist-detail-main {
    background-color:#e9d7df;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.playlist-detail-main .playlist-gallery-container{
    width: 800px;
    height: 350px;
    border-radius: 20px;
    background: rgba(255,255, 255, 0.28);
    box-shadow: 0 40px 100px rgba(255,255, 255, 0.18);
    padding: 30px;
    overflow: hidden;
    color: #b6b196;
    margin-top: 30px;
    display: flex;
}

.playlist-detail-main .playlist-gallery-container .playlist-gallery-left-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist-detail-main .playlist-gallery-container .playlist-gallery-left-box .rhap_container {
    width: 100%;
    border-radius: 10px;
    height: 85px;
    background: rgba(255, 250, 250, 0.68);
    box-shadow: none;
}

.playlist-detail-main .playlist-gallery-container .playlist-gallery-left-box .playlist-cover-img{
    width: 200px;
    height: 200px;

}

.playlist-detail-main .playlist-gallery-container .playlist-gallery-left-box .playlist-cover-img .playlist-selected-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playlist-selected-song-content h4,p{
    margin: 10px 0;
}

.playlist-gallery-right {
    display: flex;
    flex-direction: column;
    /* background: #f50; */
    width: 50%;
    overflow-y: auto;
    height: 100%;
}


.playlist-gallery-right .playlist-gallery-right-box{
    display: flex;
    margin: 0 10px;
    padding: 10px 20px;

    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #b6b196 ; */
    border-left: 1px solid #b0b7ac;

}

.playlist-gallery-right .playlist-gallery-right-box p{
    margin: 0;
    padding-right:20px;
    color:#757570;
}

.playlist-gallery-right .playlist-gallery-right-box button{
    background: #db5a6b;
    outline: none;
    color: #fff;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    border: none;
}

.playlist-song-form {
    width: 400px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.playlist-song-form .playlist-song-form-content{
    margin:20px;
    height:130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-song-form .playlist-song-form-content h2{
    padding:13px 0;
    margin: 0;
}

.playlist-song-form button{
    background: transparent;
    height: 30px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    padding: 2px 15px;
    margin: 0 20px;
    color: #333;
    width: 150px;
}

.playlist-top-box .upload-playlist-button{
        border: none;
        background: transparent;
        color: #333;
        border-color: #ccc;
        height: 30px;
        border: 1px solid #333;
        cursor: pointer;
        font-size: 14px;
        border-radius: 3px;
        font-weight: 300;
        text-align: center;
        box-sizing: border-box;
        font-family: 'Varela Round', sans-serif;
        padding: 2px 15px;
        padding-top: 5px;
}
